body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.footer {
    background-color: #b7d4f0;
    color: #000000;
    padding: 40px 20px;
    margin-top: 3%;
}

.footer .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
}

.footer .logo {
    flex: 1;
    text-align: left;
}

.footer .logo img {
    width: 160px;
}

.footer .logo p {
    margin-top: 10px;
    font-size: 30px;
    font-weight: 900;
    line-height: 1.6;
    color: #000000;
}

.footer .links {
    flex: 1;
    text-align: center;
}

.footer .links h5 {
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: 700;
}

.footer .links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer .links ul li {
    margin-bottom: 10px;
}

.footer .links ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 15px;
    transition: color 0.3s;
}

.footer .links ul li a:hover {
    color: rgb(171, 93, 102);
}

.footer .contact {
    flex: 1;
    text-align: right;
}

.footer .contact h5 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px;
}

.footer .contact p {
    font-size: 15px;
    margin: 5px 0;
    color: #000000;
}

.footer .contact a {
    text-decoration: none;
}

.footer .contact a p:hover {
    color: rgb(171, 93, 102);
}

.footer .contact .social-icons {
    margin-top: 10px;
}

.footer .contact .social-icons a {
    color: #000000;
    font-size: 20px;
    margin-right: 10px;
    transition: color 0.3s;
    text-decoration: none;
}

.footer .contact .social-icons a:hover {
    color: rgb(171, 93, 102);
}


.footer-bottom {
    margin-top: 20px;
    text-align: center;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    /* padding: 10px 0; */
    background-color: aliceblue;
    font-size: 14px;
    font-weight: 700;
    color: #000000;
}

@media (max-width: 750px) {
    .footer .container {
        flex-direction: column;
        text-align: center;
    }

    .footer .logo,
    .footer .links,
    .footer .contact {
        text-align: center;
        margin-bottom: 20px;
        
    }

    .footer .logo {
        margin-left: 34%;
    }
   

    .footer .contact {
        text-align: center;
        margin-left: 34%;
    }

    .footer .links {
        flex: 1;
        text-align: center;
        margin-left: 40%;
    }

   

    .footer .logo p {
        font-size: 25px;
        font-weight: 900;
    }
}