.grp{
    position: relative;
    height: 30px;
    overflow: hidden;
    color: rgb(0, 0, 0);
    background-color: rgb(205, 246, 117);
    border-bottom: 2px solid rgb(255, 255, 255);
    border-top: 2px solid rgb(255, 255, 255);
    padding-bottom: 3%;
}
.grp .text_silder{
    position: absolute;
    margin: 14px 0;
    padding: 0;
    width: max-content;
    animation: my-animation 20s linear infinite;
   color: rgb(240, 3, 78);
   font-size:20px;
}
.cotainer{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0px;
    transition: all;
    background-color: rgb(255, 255, 255);
    z-index: 10;
}
@media only screen and (min-width:768px){
    .grp .text_silder{
        margin: 0 0;
}
}
@media only screen and (max-width:768px){
    .grp .text_silder{
        margin: 0 0;
}
}